
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">List of {{name}}</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by name, mat-no">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class=""><a routerLink="/message/new" routerLinkActive="active"><i class="glyphicon glyphicon-plus"></i>create Message</a></li>
        <li class=""><a routerLink="/home" routerLinkActive="active"><i class="glyphicon glyphicon-home"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kamdjou <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">my profil</a></li>
            <li><a routerLink="/settings" routerLinkActive="active">settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <div class="col col-md-6 col-lg-6 col-sm-12">
        <div class="home-block">
                <p><strong>sent on: </strong>Jan 16, 2017 </p>
                <h4><a routerLink="/messages/1" routerLinkActive="active">Class assignment submission due date</a></h4>
                <p><strong>by:</strong>Dr Kamdjou temfack</p>
                <p>Hi to all, ...</p>
        </div>
    </div>
    <div class="col col-md-6 col-lg-6 col-sm-12">
        <div class="home-block">
                <p><strong>sent on: </strong>Jan 16, 2017 </p>
                <h4><a routerLink="/messages/1" routerLinkActive="active">Class assignment submission due date</a></h4>
                <p><strong>by:</strong>Dr Kamdjou temfack</p>
                <p>Hi to all, ...</p>
        </div>
    </div>
    <div class="col col-md-6 col-lg-6 col-sm-12">
        <div class="home-block">
                <p><strong>sent on: </strong>Jan 16, 2017 </p>
                <h4><a routerLink="/messages/1" routerLinkActive="active">Class assignment submission due date</a></h4>
                <p><strong>by:</strong>Dr Kamdjou temfack</p>
                <p>Hi to all, ...</p>
        </div>
    </div>
    <div class="col col-md-6 col-lg-6 col-sm-12">
        <div class="home-block">
                <p><strong>sent on: </strong>Jan 16, 2017 </p>
                <h4><a routerLink="/messages/1" routerLinkActive="active">Class assignment submission due date</a></h4>
                <p><strong>by:</strong>Dr Kamdjou temfack</p>
                <p>Hi to all, ...</p>
        </div>
    </div>
    <div class="col col-md-6 col-lg-6 col-sm-12">
        <div class="home-block">
                <p><strong>sent on: </strong>Jan 16, 2017 </p>
                <h4><a routerLink="/messages/1" routerLinkActive="active">Class assignment submission due date</a></h4>
                <p><strong>by:</strong>Dr Kamdjou temfack</p>
                <p>Hi to all, ...</p>
        </div>
    </div>
    <div class="col col-md-6 col-lg-6 col-sm-12">
        <div class="home-block">
                <p><strong>sent on: </strong>Jan 16, 2017 </p>
                <h4><a routerLink="/messages/1" routerLinkActive="active">Class assignment submission due date</a></h4>
                <p><strong>by:</strong>Dr Kamdjou temfack</p>
                <p>Hi to all, ...</p>
        </div>
    </div>
</div>
