
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"> Add New {{name}}</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class=""><a routerLink="/home" routerLinkActive="active"><i class="glyphicon glyphicon-home"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kamdjou <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">my profil</a></li>
            <li><a routerLink="/settings" routerLinkActive="active">settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  <form #newSemester="ngForm" (ngSubmit)="AddSemester(newSemester)">

    <div class="col col-md-6 col-lg-6 col-sm-12">
      <div class="form-group">
        <label class="custom-title" for="sname">Semester Name</label>
        <input type="text" class="form-control" name="sname" id="sname" placeholder="firstname and lastname" ngModel>
      </div>
    </div>
    <div class="col col-md-6 col-lg-6 col-sm-12">
      <label class="custom-title" for="tt" style="color: #fff;">Semester Name</label>
        <input type="hidden" class="form-control" id="tt" placeholder="firstname and lastname">
    </div>

    <div class="col col-md-6 col-lg-6 col-sm-12">
      <input class="btn btn-group-lg bgcolor" type="submit" value="Create">
    </div>
  </form>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>No</th>
      <th>Semester Name</th>
      <th>Created_at</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let semester of semesters; let i = index;">
      <td>{{ i+1 }}</td>
      <td>{{ semester.semester_no }}</td>
      <td>{{ semester.created_at }}</td>
    </tr>
    </tbody>
  </table>
</div>
